/* PIKcv.com CSS Document */
/* Ver.1.0 */

.PersonalNav a {height: 1%;}
.ResultsNav a {height: 1%;}
.CandidateList a {height: 1%;}
#topnavCorp {display:inline;}
*+html .ShadowBox a {position:relative;}